body {
  background-image: url("images/weather-image.jpg");
}
h6 {
  text-align: center;
  color: aliceblue;
  opacity: 50%;
}
h1 {
  font-size: 50px;
  text-align: left;
  line-height: 48px;
}
.bar {
  opacity: 70%;
  border: 12px soild white;
  border-radius: 10%;
}
.search {
  color: aliceblue;
  background-color: violet;
  border: 10px solid violet;
  border-radius: 25%;
}
.container {
  display: block;
  margin: 0 auto;
  text-align: center;
  border: 30px soild black;
  max-width: 50%;
  border-radius: 30%;
  padding: 20px;
}
.cityTemp {
  font-size: 80px;
  display: block;
  margin: 0 auto;
  position: relative;
  text-align: right;
  line-height: 48px;
  font-weight: 500;
  font-size: 30px;
  padding: 0;
}

.cityInfo {
  display: block;
  margin: 0 auto;
  position: relative;
  text-align: left;
}

.monday {
  background-color: aliceblue;
  border: 20px solid aliceblue;
  border-radius: 30%;
  opacity: 70%;
}

.tuesday {
  background-color: aliceblue;
  border: 20px solid aliceblue;
  border-radius: 30%;
  opacity: 70%;
}

.wednesday {
  background-color: aliceblue;
  border: 20px solid aliceblue;
  border-radius: 30%;
  opacity: 70%;
}

.thursday {
  background-color: aliceblue;
  border: 20px solid aliceblue;
  border-radius: 30%;
  opacity: 70%;
}

.friday {
  background-color: aliceblue;
  border: 20px solid aliceblue;
  border-radius: 30%;
  opacity: 70%;
}
